<header>
    <nav class="main-menu">
        <button id = "menu-button">Menu</button>
        <ul id="menu-list" class="menu-items-none">
            <li><a href="/posts">Posts</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/users/create/">Create Account</a></li>
            <li><a href="/posts/create/">Create Post</a></li>
            <li><button class="fixed" id = "random-button">Colour Change!</button></li>
        </ul>
    </nav>
</header>