<header>
    <nav class="fixed">
        <div id="menu-list" class="menu-items-none">
            <a href="/posts">Posts</a>
            <a href="/users">Users</a>
            <a href="/users/create/">Create Account</a>
            <a href="/posts/create/">Create Post</a>
        </div>
        <button id = "menu-button">Menu</button>
    </nav>
</header>