/* Add your styles here. */
body {
    background-color: #252A38;
    color: #DCDCDC;
    font-family: "Segoe UI", "Open Sans", "sans-serif";
    margin: 0px;
}
li img {
    width: 100%;
    height: 30%;
    margin: auto;
    object-fit: cover;
}

.menu-items-none {
    display: none;
}

.menu-items-none.menu-items-there {
    display: inline;
}

.profile-image {
    left: 5.5%;
    top: 13.5%;
    border-style: solid;
    border-color: #DCDCDC;
    border-width: 4px;
    border-radius: 50%;
    width: 28%;
    position: absolute;
    z-index: 1;
}

.profile-details{
    padding-left: 40%;
    position: absolute;
    top: 13%;
    z-index: 1;
}
.empty-box {
    width:100%;
    height: 15%;
    top: 13%;
    position:absolute;
    background-color: #252A38;
    opacity: 0.56;
}
.title{
    font-weight: 400;
    font-size: 24px;
}

.profile-username {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0;
}

.profile-email {
    font-weight: 300;
    font-size: 14px;
    margin-top: 0;
}

.post__username {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
}
.post__timestamp {
    margin: 0;
    font-weight: 300;
    font-size: 10px;
}
.post__message {
    font-weight: 400;
    font-size: 14px;
    margin-bottom:0;
}
.profile-posts {
    background-color: #151820;
    width: 75%;
    margin-bottom: 24px;
    display: inline-block;
    margin-left: 24px;
    transition: transform 0.3s;
}

.profile-posts:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.scrolling-posts{
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.post-image{
    width: 100%;
    height: 30%;
    margin: auto;
    object-fit: cover;
}

.post-text {
    padding-top: 8qpx;
    padding-bottom: 16px;
    padding-left: 12px;
    padding-right: 12px;
}

.larger-text {
    font-size: 30;
}

.profile-subtitle {
    font-size: 20px;
    margin-left: 24px;
}

ul {
    list-style: none;
    padding: 0;
}
a {
    color: inherit; 
} 
nav {
    font-size: 20;
    background-color: black;
    color: white;
}
.fixed {
    position: fixed;
}
.relative {
    position: relative;
  }
.absolute {
    position: absolute;
}

.cover-image {
    width: 100%;
    height: 20%;
    object-fit: cover;
    margin-bottom: 18%;
}

.profile-picture {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    margin-top: 10px;
}