/* Add your styles here. */
body {
    background-color: #252A38;
    color: #DCDCDC;
    font-family: "Segoe UI", "Open Sans";
}
li img {
    width: 100%;
    height: 30%;
    margin: auto;
    object-fit: cover;
}
.post__username {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
}
.post__timestamp {
    margin: 0;
    font-weight: 300;
    font-size: 10px;
}
.post__message {
    font-weight: 400;
    font-size: 14px;
    margin-bottom:0;
}
.profile-posts {
    background-color: #151820;
    margin-bottom: 24px;
}
.post-text {
    padding-top: 8qpx;
    padding-bottom: 16px;
    padding-left: 12px;
    padding-right: 12px;
}
.center-text {
    text-align: center;
}
.larger-text {
    font-size: 30;
}
.subtitle {
    font-size: 20px;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    color: inherit; 
} 
nav {
    font-size: 20;
    background-color: black;
    color: white;
}
.fixed {
    position: fixed;
}
.relative {
    position: relative;
  }
.absolute {
    position: absolute;
    left: 15%;
    top: 25%;
    border-style: solid;
    border-color: black;
    width: 20%;
}

.cover-image {
    width: 100%;
    height: 20%;
    object-fit: cover
}

.profile-picture {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    margin-top: 10px;
}